
body {
    font-family: Oxygen;
    width: 1080px;
    margin: 0px auto;
    background-color: #8cb0b39d;
    padding: 0px 20px 20px 20px;
}
.Cenefa img {
    height: 150px;
    
}

.Contenido {
    text-align: center;
}

.BotonMenu {
    position:relative; top: -75px;
    color: #0494c4;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
    border: none;
      color: #74ceff;
      padding: 16px 32px;
      text-align: center;
      display: inline-block;
      font-size: 18px;
      margin: 8px 20px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
      text-decoration: none;
   
}

.BotonMenu:hover {
    background-color: #0494c4;
    color: white;
}

h2 {
    position: relative; top: -60px;
    font-size: 22px;
}
   .produc_selecc {
        overflow-y:scroll;
        color: #d0daec;
        font-size: 20px;
        text-align: justify;
        border-radius: 10px;
        margin: 0px 10px 0px 10px;
        padding: 10px 10px 10px 10px;
        background-color: #282829ea;
        width: 600px;
        height: 300px;
        position:absolute;
        top: 230px;
        bottom: 0;
        right: 0;
        left: 130px;

    }

    .Imagen {
        position: relative; top: 0px; left: 0px;  
    }

    .subtotal {
        color: #d0daec;
        font-size: 20px;
        text-align: justify;
        border-radius: 10px;
        margin: 0px 10px 0px 10px;
        padding: 10px 10px 10px 10px;
        background-color: #5e5ea58a;
        width: 400px;
        height: auto;
        position:absolute;
        top: 230px;
        right: 130px;
    }
    .total {
        color: #d0daec;
        font-size: 20px;
        text-align: justify;
        border-radius: 10px;
        margin: 0px 10px 0px 10px;
        padding: 10px 10px 10px 10px;
        background-color: #282829ea;
        width: 400px;
        height: auto;
        position:absolute;
        top: 430px;
        right: 130px;
    }

    .opc_envio {
        color: #d0daec;
        font-size: 20px;
        text-align: justify;
        border-radius: 10px;
        margin: 0px 10px 0px 10px;
        padding: 10px 10px 10px 10px;
        background-color: #42684e6c;
        width: 600px;
        height: auto;
        position:absolute;
        top: 570px;
        left: 130px;
    }

    table.producto1 {
        border-spacing : 5px;
        width: 590px;
      }
       
      table.producto2 {
        border-spacing : 5px;
        width: 590px;
      }

      .boton_comprar {
        width: auto;
        height: auto;
        position:absolute;
        top: 650px;
        right: 200px;
    }

    .metodopago {
        color: #d0daec;
        font-size: 20px;
        text-align: justify;
        border-radius: 10px;
        margin: 0px 10px 0px 10px;
        padding: 10px 10px 10px 10px;
        background-color: #282829ea;
        width: 620px;
        height: 310px;
        position:absolute;
        top: 230px;
        left: 130px;
    }

    .boton_pago {
        border-radius: 10px;
        width: auto;
        height: auto;
        position:absolute;
        top: 270px;
        right: 180px;
    }