<template>
  <div id="app" class="app">
    <div class="header">
      <div class="Cenefa">
        <img src="./assets/cenefa.jpg">
      </div>
      <div class="Contenido">
          <a class="BotonMenu">Inicio</a>
          <a class="BotonMenu">Compra</a>
          <a class="BotonMenu">PQR´s</a>
          <a class="BotonMenu">SignIn</a>
          <a class="BotonMenu">SignUp</a>
      </div>
    <h2>Compras realizadas</h2>
    </div>
    <router-view></router-view>
  </div>
</template>

<script>
  export default{
  name: 'App',
  data: function(){
  },
  methods:{
  },
  created: function(){
    }
  }
</script>
 
 
<style>
  body {
    font-family: Oxygen;
    width: 1080px;
    margin: 0px auto;
    background-color: #8cb0b39d;
    padding: 0px 20px 20px 20px;
  }

  .Cenefa img {
      height: 155px;
      position:absolute;
        top: 0;
        right: 130px
      
  }

    .Contenido {
      text-align: center;
  }

  .BotonMenu {
      position:relative; top: -75px;
      color: #0494c4;
      background: transparent;
      border: 2px solid #0099CC;
      border-radius: 6px;
      border: none;
        color: #74ceff;
        padding: 16px 32px;
        text-align: center;
        display: inline-block;
        font-size: 18px;
        margin: 8px 20px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
        text-decoration: none;
    
  }

  .BotonMenu:hover {
      background-color: #0494c4;
      color: white;
  }

  h2 {
      position: relative; top: -60px;
      font-size: 22px;
  }

  .Imagen {
        position: relative; top: 0px; left: 0px;  
    }
  
  .header{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10vh; 
    min-height: 100px;
 
    background-color: #283747 ;
    color:#E5E7E9  ;
 
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 
  .header h1{
    width: 20%;
    text-align: center;
  }
</style>