<template>
  <div id="compra" class="compra">
  <h2>Compras realizadas</h2>
  <ul class="produc_selecc">
    <li>
      <table class="producto1" BORDER>
        <thead>
          <tr>
            <th scope="row" class="fondo"><img src="public\images\51wMz7EpaBL._SL500_.jpg"></th>
            <td>
              <table class="producto11">
                <tr>
                  <th ALIGN=center COLSPAN=3>Producto 1</th>
                </tr>
                <tr>
                  <th>Producto:</th> <td>Monitor OLED</td> <td ALIGN=left ROWSPAN=4 COLSPAN=3><button onclick="Eliminar()">Eliminar</button></td>
                </tr>
                <tr>
                  <th>Precio:</th> <td> $ 1500000</td> 
                </tr>
                <tr>
                  <th>Cantidad</th> <td>1</td> 
                </tr>
              </table>
            </td>
          </tr>
        </thead>
      </table>
    </li>
    <li>
    <table class="producto2" BORDER>
      <thead>
        <tr>
          <th scope="row" class="fondo"><img src="public\images\610V4l4C1aL._AC_SY355_.jpg"></th>
          <td>
            <table class="producto22">
              <tr>
                <th ALIGN=center COLSPAN=3>Producto 2</th>
              </tr>
              <tr>
                <th>Producto:</th> <td>Mouse</td> <td ALIGN=left ROWSPAN=4 COLSPAN=3><button onclick="Eliminar()">Eliminar</button></td>
              </tr>
              <tr>
                <th>Precio:</th> <td> $ 100000</td> 
              </tr>
              <tr>
                <th>Cantidad</th> <td>2</td> 
              </tr>
            </table>
          </td>
        </tr>
      </thead>
    </table>
    </li>
  </ul>

    <div class="opc_envio">
        <p>Seleccione las opciones de envío:</p>
        <input type="checkbox" id="cbox1" value="first_checkbox"> Envío a domicilio<br>
        <input type="checkbox" id="cbox2" value="second_checkbox"> <label for="cbox2"> Recoger en tienda física</label>
        <p>Seleccione el tipo de envío:</p>
        <label><input type="checkbox" id="cbox3" value="third_checkbox"> Envío rápido (48 horas únicamente en Bogotá)</label><br>
        <input type="checkbox" id="cbox4" value="fourth_checkbox"> <label for="cbox2"> Envío gratis (Entrega estimada 1 semana)</label><br>
        <label><input type="checkbox" id="cbox5" value="fifth_checkbox"> Envío Express (48 a cualquier destino en territorio colombiano)</label>
    </div>

    <div class="subtotal">
        <table ALIGN=center >
            <p ALIGN=center>Tu compra </p>
            <tr > <th ALIGN=center >Articulo 1</th> <td> $1'500.000</td>
            </tr>
            <tr> <th ALIGN=center >Articulo 2</th> <td>$100.000</td> 
            </tr>
        </table>
        <hr>
        <table ALIGN=center>
            <tr> <th>Subtotal</th> <td> $1'600.000</td>
            </tr>
        </table>
    </div>

    <div class="total">
        <table ALIGN=center >
            <tr > <th >Costo de envio</th> <td> $10.000</td>
            </tr>
            <tr > <th ALIGN=center COLSPAN=2><hr></th>
            </tr>
            <tr> <th >Total</th> <td>$1'610.000</td> 
            </tr>
        </table>
    </div>
</div>
    <button class="button1" v-on:click="botonCompra"> Boton Compra </button>

    <router-view v-on:completedCompra="completedCompra"
    >
    </router-view>

</template>

<script>
  export default{
  name: 'App',
  data: function(){
  },
  methods:{
      botonCompra: function(){
        this.$router.push({name: "ConfirmarPago"})
 },
  },
  created: function(){
    }
  }
</script>

 
<style>
  body {
    font-family: Oxygen;
    width: 1080px;
    margin: 0px auto;
    background-color: #8cb0b39d;
    padding: 0px 20px 20px 20px;
  }

  .Cenefa img {
      height: 155px;
      position:absolute;
        top: 0;
        right: 130px
      
  }

    .Contenido {
      text-align: center;
  }

  .BotonMenu {
      position:relative; top: -75px;
      color: #0494c4;
      background: transparent;
      border: 2px solid #0099CC;
      border-radius: 6px;
      border: none;
        color: #74ceff;
        padding: 16px 32px;
        text-align: center;
        display: inline-block;
        font-size: 18px;
        margin: 8px 20px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
        text-decoration: none;
    
  }

  .BotonMenu:hover {
      background-color: #0494c4;
      color: white;
  }

  h2 {
      position: relative; top: 60px;
      font-size: 22px;
  }

  .Imagen {
        position: relative; top: 0px; left: 0px;  
    }
  .produc_selecc {
        overflow-y:scroll;
        color: #d0daec;
        font-size: 20px;
        text-align: justify;
        border-radius: 10px;
        margin: 0px 10px 0px 10px;
        padding: 10px 10px 10px 10px;
        background-color: #282829ea;
        width: 600px;
        height: 300px;
        position:absolute;
        top: 230px;
        bottom: 0;
        right: 0;
        left: 130px;
    }

    table.producto1 {
        border-spacing : 5px;
        width: 590px;
      }
       
    table.producto2 {
        border-spacing : 5px;
        width: 590px;
      }

  .opc_envio {
        color: #d0daec;
        font-size: 20px;
        text-align: justify;
        border-radius: 10px;
        margin: 0px 10px 0px 10px;
        padding: 10px 10px 10px 10px;
        background-color: #42684e6c;
        width: 600px;
        height: auto;
        position:absolute;
        top: 570px;
        left: 130px;
    }
    .subtotal {
        color: #d0daec;
        font-size: 20px;
        text-align: justify;
        border-radius: 10px;
        margin: 0px 10px 0px 10px;
        padding: 10px 10px 10px 10px;
        background-color: #5e5ea58a;
        width: 400px;
        height: auto;
        position:absolute;
        top: 230px;
        right: 130px;
    }

    .total {
        color: #d0daec;
        font-size: 20px;
        text-align: justify;
        border-radius: 10px;
        margin: 0px 10px 0px 10px;
        padding: 10px 10px 10px 10px;
        background-color: #282829ea;
        width: 400px;
        height: auto;
        position:absolute;
        top: 430px;
        right: 130px;
    }
     button {
    text-decoration: none;
    padding: 10px;
    font-weight: 200;
    font-size: 15px;
    color: #ffffff;
    background-color: #c71717;
    border-radius: 6px;
    border: 2px solid #eb1809;
}

 .button1 {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
    position: absolute; top: 700px; right: 260px; 
}
  .header{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10vh; 
    min-height: 100px;
 
    background-color: #283747 ;
    color:#E5E7E9  ;
 
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  
 
  .header h1{
    width: 20%;
    text-align: center;
  }
</style>