<template>
  <div id="pago" class="pago">
    <h2>Opciones de pago</h2>
    <div class="metodopago">
        <form action="../../form-result.php" method="post" target="_blank">
            <fieldset>
                <p>Método de pago: <input type="text" name="metodopago" list="listadepagos"></p>
                <datalist id="listadepagos"> 
                    <option value="Tarjeta Crédito"></option>
                    <option value="Tarjeta Débito"></option>
                    <option value="PSE"></option>
                    <option value="Efectivo"></option>
                    <option value="Puntos efecty"></option>
                </datalist>
                <p>Número de tarjeta: <input type="text" name="numtarjeta" placeholder="Digíte solo números"></p>
                <p>CVC (al respaldo de la tarjeta): <input type="text" name="numcvc" placeholder="Digíte solo números"></p>
                <p><label>Fecha de vencimiento de la tarjeta: <input type="date" name="fechadenacimiento"></label></p> 
                <p>Número de tarjeta: <input type="text" name="numtarjeta" placeholder="Digíte solo números"></p>
                <p>Dirección de envio: <input type="text" name="numtarjeta" required size="50" placeholder="Detalle piso y tipo de vivienda"></p>  
            </fieldset>    
        </form>
    </div>

    <button class="button2"> Boton Compra </button>
     <Popup>
       <h4>My Popup</h4>
     </Popup>

    <div class="ventana">
      <h3>Su compra ha sido registrada</h3>
      <p>El producto sera despachado en poco tiempo</p>
    </div>

    <router-view v-on:completedCompra="completedCompra"
    >
    </router-view>
    <h1>Vue Popups</h1>
    <button @click="() => TogglePopup('buttonTrigger')">Open Popup</button>
		<!--
		<Popup 
			v-if="popupTriggers.buttonTrigger" 
			:TogglePopup="() => TogglePopup('buttonTrigger')">
			<h2>My Button Popup</h2>
		</Popup>
		<Popup 
			v-if="popupTriggers.timedTrigger"
			:TogglePopup="() => TogglePopup('timedTrigger')">
			<h2>My Timed Popup</h2>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, accusantium sequi. Libero velit assumenda odio dolor repellendus earum debitis culpa voluptatum, illum beatae? Quasi, modi omnis repellat adipisci voluptate assumenda!
			</p>
		</Popup>-->
  </div>
</template>


 
<script>
/*import { ref } from 'vue';
import Popup from './components/Popup';
export default {
	setup () {
		const popupTriggers = ref({
			buttonTrigger: false,
			timedTrigger: false
		});
		const TogglePopup = (trigger) => {
			popupTriggers.value[trigger] = !popupTriggers.value[trigger]
		}
		setTimeout(() => {
			popupTriggers.value.timedTrigger = true;
		}, 3000);
		return {
			Popup,
			popupTriggers,
			TogglePopup
		}
	}
}
/*export default {
  name: 'App',
 
  data: function(){
  },
 
  methods:{
  },
 
  created: function(){
  }
 
}*/
</script>
 
<style>
  body {
    font-family: Oxygen;
    width: 1080px;
    margin: 0px auto;
    background-color: #8cb0b39d;
    padding: 0px 20px 20px 20px;
  }

  .Cenefa img {
      height: 155px;
      position:absolute;
        top: 0;
        right: 130px
      
  }

    .Contenido {
      text-align: center;
  }

  .BotonMenu {
      position:relative; top: -75px;
      color: #0494c4;
      background: transparent;
      border: 2px solid #0099CC;
      border-radius: 6px;
      border: none;
        color: #74ceff;
        padding: 16px 32px;
        text-align: center;
        display: inline-block;
        font-size: 18px;
        margin: 8px 20px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
        text-decoration: none;
    
  }

  .BotonMenu:hover {
      background-color: #0494c4;
      color: white;
  }

  h2 {
      position: relative; top: -60px;
      font-size: 22px;
  }

  .Imagen {
        position: relative; top: 0px; left: 0px;  
    }

    .metodopago {
        color: #d0daec;
        font-size: 20px;
        text-align: justify;
        border-radius: 10px;
        margin: 0px 10px 0px 10px;
        padding: 10px 10px 10px 10px;
        background-color: #282829ea;
        width: 620px;
        height: 310px;
        position:absolute;
        top: 230px;
        left: 130px;
    }

  .button2 {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
    position: absolute;
        top: 370px;
        right: 260px;
    }
  
  .ventana {
      background-color: #282829ea;
      width: 420px;
      height: 110px;
      color: #ffffff;
      font-family: 'Courier New', Courier, monospace;
      font-size: 18px;
      text-align: center;
      min-height: 150px;
      border-radius: 22px;
      position: absolute;
        top: 300px;
        right: 500px;
      display: none;
  }




  .header{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10vh; 
    min-height: 100px;
 
    background-color: #283747 ;
    color:#E5E7E9  ;
 
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  
 
  .header h1{
    width: 20%;
    text-align: center;
  }
</style>